.formacao {
  padding-top: 80px;
}
.formacoes {
  margin-top: 80px;
  background-color: #131313;
  box-shadow: 8px 8px 30px 10px rgba(0, 0, 0, 0.46);
  padding: 100px 80px 100px 120px;
  border-radius: 20px;
}
.formacoes ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
}
.formacoes li h2 {
  margin-bottom: 32px;
  position: relative;
  display: flex;
  align-items: center;
}
.formacoes li p + p {
  margin-top: 16px;
  grid-column: 2;
}
.formacoes li h2::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/cursos.svg");
  width: 24px;
  height: 24px;
  left: -32px;
}
