body {
  margin: 0px;
  color: var(--cor-6);
}

h1,
h2,
h3,
p {
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
