:root {
  --cor-0: #000000;
  --cor-7: #232323;
  --cor-1: #2e2e2e;
  --cor-2: #363535;
  --cor-3: #424242;
  --cor-4: #868686;
  --cor-5: #9c9c9c;
  --cor-6: #ffffff;
  --cor-p1: #892cdc;
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-2);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-p1 {
  color: var(--cor-p1);
}
